{
    "token": "MTExNjAyMDgyMzcwMzE2NzEwNg.GTB4fu.9bfDPxFHPqmvS7MjVst3YMz7diUvD64_Exemplo",
    "clientId": "11160208106_Exemplo",
    "clienteSecret": "DLm0juAKxvts46fTBl-GS_Exemplo",
    "canalWelcome": "bem-vindo_Exemplo",
    "roleAluno": "Aluno_Exemplo" 
}